#hamburger-icon,
#mobile-menu {
  display: none;
}
#logo,
header {
  display: flex;
}
#nav-list > ul > li,
.linker {
  color: #fff;
  font-size: 1.6rem;
  display: inline;
}
#mobile-menu {
  position: absolute;
}
header {
  align-items: center;
  justify-content: space-between;
  background: #081120;
  width: 100%;
  padding: 3rem 12rem;
  position: fixed;
  z-index: 1;
}
#logo {
  align-items: center;
}
#logo > h1 {
  font-size: 2.4rem;
  margin-left: 1rem;
  color: #d3f500;
  font-family: agrandirgrand_heavy;
}
#nav-list > ul > li {
  margin-right: 5rem;
  transition: 0.5s;
}
.linker {
  text-decoration: none;
}
#nav-list > ul > li:hover {
  font-size: 2rem;
  cursor: pointer;
  color: #d3f500;
}
@media (max-width: 768px) {
  #logo > div,
  .dsf-mobile {
    display: none;
  }
  #hamburger-icon,
  #mobile-menu {
    display: block;
  }
  .hamburger-line-1,
  .hamburger-line-2 {
    background-color: #d3f500;
    height: 1px;
    margin-bottom: 1rem;
  }
  #logo > h1 {
    font-size: 1.8rem;
  }
  #logo > div {
    width: 4rem;
  }
  #mobile-menu {
    position: fixed;
    opacity: 0;
    background-color: #081120;
    height: 100vh;
    z-index: 2;
    width: 100%;
    transition: 0.4s;
    transform: translateY(-100vh);
  }
  #mobile-menu > ul {
    padding: 10rem 2rem;
    color: #d3f500;
  }
  #mobile-menu > ul > li {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .mobile-linker {
    font-size: 3rem;
  }
  header {
    justify-content: space-between;
    padding: 2rem;
    z-index: 2;
  }
  .hamburger-line-1 {
    width: 5rem;
  }
  .hamburger-line-2 {
    width: 3rem;
    transition: 0.5s;
  }
}
