.portfolio-section {
  background: #081120;
  padding: 3rem 2rem;
}
.portfolio-section > div {
  display: flex;
  gap: 5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1 {
  text-align: left;
  font-family: agrandirgrand_heavy;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  color: #d3f500;
}
@media (max-width: 768px) {
  .portfolio-section > div {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
  }
  .portfolio-section > div::-webkit-scrollbar {
    display: none;
  }
}
